/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1e8e8;
    color: #df096d;
}

header {
    background-color: #db0e74;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(235, 225, 225);
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #c0488a;
}

/* Intro Section */
.intro {
    background: url('img/awal.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
    position: relative;
}

.intro .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 10px;
}

.intro h1 {
    font-size: 2.5em;
    margin: 0;
}

.intro p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Content Section */
.content {
    padding: 60px 20px;
    text-align: center;
}

.content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.content .gambar-konten {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 10px;
}

.order-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6a1b9a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.order-link:hover {
    background-color: #ce93d8;
}


/* Gallery Section */
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-item {
    width: calc(33.333% - 20px);
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

/* Order Link */
.order-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6a1b9a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.order-link:hover {
    background-color: #490823;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
